<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Battle_Tracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Battle_Tracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <applicationSettings>
    <Battle_Tracker.Properties.Settings>
      <setting name="TurnLength" serializeAs="String">
        <value>60</value>
      </setting>
    </Battle_Tracker.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Battle_Tracker.Properties.Settings>
      <setting name="LastWidth" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="LastHeight" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="ColNameWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ColInitWidth" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="ColModWidth" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="ColHPWidth" serializeAs="String">
        <value>80</value>
      </setting>
    </Battle_Tracker.Properties.Settings>
  </userSettings>
</configuration>